<!DOCTYPE html>
<html>
<head>
  <title>Eurocrats</title>
  <%= stylesheet_link_tag    "eurocrats/application", media: "all" %>
  <%= javascript_include_tag "eurocrats/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
