<!DOCTYPE html>
<html>
<head>
  <title>Eurocrat</title>
  <%= stylesheet_link_tag    "eurocrat/application", media: "all" %>
  <%= javascript_include_tag "eurocrat/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
